@model IEnumerable<MVCBartender.Models.Drink>

@{
    ViewBag.Title = "Choose Your Drinks";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h2>Menu</h2>
            <br />
            <table class="table borderless">
                <thead @*class="thead"*@>
                    <tr>
                        <th>
                            Drink
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            @*Choose*@
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var drink in Model)
                {
                    <tr>
                        <td class="drinkName">
                            @drink.DrinkName
                        </td>
                    </tr>
                    <tr>
                        <td class="descript" id="desc">@drink.DrinkDescription</td>
                        <td>
                            $@drink.DrinkCost
                        </td>
                        <td>
                            @Html.ActionLink("Order Drink", "Queue", "Order", drink, new { @class = "btn btn-default" })
                        </td>
                    </tr>
                    <tr><td> </td></tr>
                }
            </table>
        </div>
        <div class="col-md-6">
            <h2>Your Order</h2>
            <br />
            <br />
            <hr />
            <br />
            @if (TempData["ordered"] != null)
            {
                <p class="text-center">
                    <span class="glyphicon glyphicon-ok green"></span>
                    @TempData["info"]
                    <span style="color:#b12070">@TempData["ordered"]</span>
                    @TempData["orderTime"]
                </p>
            }

            <p class="text-center">
                @TempData["success"]
            </p>
        </div>
    </div>
</div>
