@model IEnumerable<MVCBartender.Models.Order>

@{
    ViewBag.Title = "Queue";
}

<h2>Queue</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DrinkName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableNum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DrinkName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TableNum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
